<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Allergy Attention</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/peanutFavicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />

  <!-- Bootstrap core CSS -->
  <link href="assets/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
  <!-- Navigation -->
<nav>
<div class="topnav" id="myTopnav">
  <a id="title">Allergy Attention</a>
  <a href="/maker">Home</a>
  <a href="/account" class="active">Account</a>
  <a href="/logout">Logout</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <img class="hamburger" src="/assets/img/menu.png">
  </a>
</div>
</nav>

  <!-- Page Content -->
<content class="accountPage">
<h1>Settings</h1>
  <div id="account">
    {{#if userInfo}}
    <h2>{{userInfo.username}}</h2>
    <h2>{{userInfo.password}}</h2>
    {{/if}}
  </div>
    <div id="changePassForm">
    <form id="changePassword" name="changePassword" action="/changePassword" method="POST" class="domoForm">
      <input class="textBox add" id="oldPass" type="text" name="oldPassword" placeholder="Old Password" />
      <input class="textBox add" id="newPass1" type="text" name="newPass1" placeholder="New Password" />
      <input class="textBox add" id="newPass2" type="text" name="newPass2" placeholder="Repeat New Password" />
      <input type="hidden" name="_csrf" value={{csrfToken}} />
      <input class="formSubmit" type="submit" value="Change Password" />
    </form>
  </div>



  </content>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="/assets/bundle.js"></script>
    <script>
      function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>
</body>

</html>