<html lang="en">
<!-- Bootstrap elements adapted from this theme: 
  https://startbootstrap.com/templates/heroic-features/
  -->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>DomoMaker</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/peanutFavicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />

  <!-- Bootstrap core CSS -->
  <link href="assets/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <div class="navlink"><a class="nav-link" href="/logout">Log out</a></div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">A Warm Welcome!</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt
        possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam
        repellat.</p>
      <a href="#" class="btn btn-primary btn-lg">Call to action!</a>
    </header>

    <!-- Adding content to page -->
    <section id="makeDomo">
      <form id="domoForm" name="domoForm" action="/maker" method="POST" class="domoForm">
        <label for="name">Food: </label>
        <input id="domoName" type="text" name="name" placeholder="Domo Name" />
        <label for="age">Age: </label>
        <input id="domoAge" type="text" name="age" placeholder="Domo Age" />
        <input type="hidden" name="_csrf" value={{csrfToken}} />
        <input class="makeDomoSubmit" type="submit" value="Make Domo" />
      </form>
    </section>

    <!-- Viewing already placed content -->
    <div class="row text-center">
      {{#if domos}}
      {{#each domos}}
      <div class="col-lg-3 col-md-6 mb-4" id="domos">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="domoName">Name: {{this.name}}</h4>
            <div class="domo"><img src="/assets/img/domoface.jpeg" alt="domo face" class="domoFace" />
              <h3 class="domoAge">Age: {{this.age}}</h3>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
      {{else}}
      <h3 class="emptyDomo">No domos yet :(</h3>
      {{/if}}
      {{!-- <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div> --}}
    </div>
  </div>
  <div id="domoMessage"><img id="speech" src="/assets/img/speech.png" alt="speech box" />
    <h3><span id="errorMessage"></span></h3><img id="domo" src="assets/img/domo.png" alt="domo" />
  </div>

  </div>
  <script src="/assets/bundle.js"></script>
</body>

</html>