<html lang="en">
<!-- Bootstrap elements adapted from this theme: 
  https://startbootstrap.com/templates/heroic-features/
  -->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Allergy Attention</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/peanutFavicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />

  <!-- Bootstrap core CSS -->
  <link href="assets/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

  <!-- Font awesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Allery Attention</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <!-- Jumbotron Header -->
    <section class="jumbotron my-4">
      <i class="fa fa-window-close"></i>
      <h1 class="display-4">Cooking With Allergies: A Starter Cookbook</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt
        possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam
        repellat.</p>
      <a href="#" class="btn btn-primary btn-lg">Buy now on Amazon</a>
    </section>






    <!-- Adding content to page -->
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Add New Food</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add New Food</h4>
          </div>
          <div class="modal-body">
            <section id="addFood">
              <form id="foodForm" name="foodForm" action="/maker" method="POST" class="foodForm">
                <label for="name">Food Name: </label>
                <input id="foodName" type="text" name="name" placeholder="Meal" />
                <br>
                <label for="ingredients">Ingredients (List): </label>
                <input id="foodIngredients" type="text" name="ingredients" placeholder="Ingredients" />
                <input type="hidden" name="_csrf" value={{csrfToken}} />
                <input class="makeMealSubmit" type="submit" value="Add" />
              </form>
            </section>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Add</button>
          </div>
        </div>

      </div>
    </div>







    <!-- Viewing already placed content -->
    <div class="row text-center">
      {{#if domos}}
      {{#each domos}}
      <div class="col-lg-3 col-md-6 mb-4" id="domos">
        <div class="card h-100">
          <div class="card-body">
            <h4 class="domoName">Name: {{this.name}}</h4>
            <div class="domo"><img src="/assets/img/domoface.jpeg" alt="domo face" class="domoFace" />
              <h3 class="domoAge">Age: {{this.age}}</h3>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
      {{else}}
      <h3 class="emptyDomo">No domos yet :(</h3>
      {{/if}}
      {{!-- <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div> --}}
    </div>
  </div>
  <div id="domoMessage">
    <h3><span id="errorMessage"></span></h3>
  </div>

  </div>
  <script src="/assets/bundle.js"></script>
</body>

</html>