<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Allergy Attention</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/peanutFavicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />

  <!-- Bootstrap core CSS -->
  <link href="assets/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
  <!-- Navigation -->
<nav>
<div class="topnav" id="myTopnav">
  <a id="title">Allergy Attention</a>
  <a href="/login">Home</a>
  <a href="/account">Account</a>
  <a href="/data" class="active">Data</a>
  <a href="/logout">Logout</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <img class="hamburger" src="/assets/img/menu.png">
  </a>
</div>
</nav>

  <!-- Page Content -->
<content class="appPage">

<!-- Sidebar Widgets Column -->
    <div class="sidebar">
      <!-- Categories Widget -->
        <div class="sort">
          <h3>Categories</h3>
          <div class="pickSort">
            <ul class="list-unstyled">
              <li>
                <a href="#">Urgent Care</a>
              </li>
              <li>
                <a href="#">Painful</a>
              </li>
              <li>
                <a href="#">Mild Discomfort</a>
              </li>
              <li>
                <a href="#">No Pain</a>
              </li>
            </ul>
        </div>
    </div>
  </div>  

    <div class="main">
    <!-- Blog Entries Column -->
   
</div>  

  </content>
  <!-- /.container -->

  <div id="errorModal">
    <div class="modal fade" id="searchEmpty" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="searchEmptyLabel">Error: No results for ${input} found</h5>
        </div>
        {{!-- <div class="modal-body">
          <h3><span id="errorMessage"></span></h3>
        </div>--}}
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" onclick="removeSearch()">Okay</button>
        </div> 
      </div>
    </div>
    </div>
  </div>

  <script>
    /* Handlebars.registerHelper('json', function (content) {
      return JSON.stringify(content); 
    }); 
    
    if title.innerHTML == input {
            card.style.display = "block";
          } else {
            card.style.display = "none";
          }
    
    */

    const searchData = () => {
      // grabs searchbar input
        let input = document.getElementById("searchInput").value;

        //grabs tag element
        let tag = document.querySelector(".tag");

        // grabs all the cards on screen
        let cardElements = document.querySelectorAll(".card");

        let itemsDisplaying = false;

        //for each card,
        cardElements.forEach(card => {
          //if title matches input, display and show tag
          let title = card.querySelector("h2").innerHTML;

          if (title == input) {
            itemsDisplaying = true;
            card.style.display = "block";
            tag.querySelector("h5").innerHTML = input;
            tag.style.display = "block";
          //if not, set the display to none
          } else {
            card.style.display = "none";
          }
        });

        if (itemsDisplaying == false) {
            console.log("nothing on scren");
            $('#searchEmpty').modal('show');
          }
    } 

    const removeSearch = () => {
      $('#searchEmpty').modal('hide');
      let tag = document.querySelector(".tag");

      let cardElements = document.querySelectorAll(".card");

        cardElements.forEach(card => {
          card.style.display = "block";
          tag.style.display = "none";
        });
    }
  </script>

    <!-- Bootstrap core JavaScript -->
    <script src="/assets/bundle.js"></script>
    <script>
      function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>
</body>

</html>