<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Allergy Attention</title>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/peanutFavicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />

  <!-- Bootstrap core CSS -->
  <link href="assets/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
  <!-- Navigation -->
<nav>
<div class="topnav" id="myTopnav">
  <a id="title">Allergy Attention</a>
  <a href="/login" class="active">Login</a>
  <a href="/signup">Signup</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <img class="hamburger" src="/assets/img/menu.png">
  </a>
</div>
</nav>


  <!-- Page Content -->
  <div class="container" id="content">

      <!-- <div class="col-md-8">
        <h1 class="my-4">Allery Attention
          {{!-- <small>Secondary Text</small> --}}
        </h1>
        <!-- Blog Post -->
        <!-- <div class="card mb-4" id="aboutCard">
          <div class="card-body">
            <h2 class="card-title">What is this site?</h2>
            <p class="card-text">
              I never had allergies as a child. I ran ammuck in globs of peanut butter, swam
              through streams of chocolate milk and ice cream, not a care in the world.
              And then I was betrayed. My stomach started working against me, but I couldn't 
              figure out what. 
            </p>
          </div>
        </div>
      </div> -->

        <!-- Sidebar Widgets Column -->

        <!-- Side Widget -->
        <div class="card" id="login">
          <h5 class="card-header">Login</h5>
          <div class="card-body">
            <form id="loginForm" name="loginForm" action="/login" method="POST" class="mainForm">
              <label for="username">Username: </label>
              <input id="user" type="text" name="username" placeholder="username" />
              <label for="pass">Password: </label>
              <input id="pass" type="password" name="pass" placeholder="password" />
              <input type="hidden" name="_csrf" value={{csrfToken}} />
              <input class="formSubmit" type="submit" value="Sign In" />
            </form>
          </div>
        </div>

        <br><br>
        <!-- Advertisement -->
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">Epi Pens for cheap!</h2>
            <p class="card-text">
              Get them now before they're all gone!
            </p>
            <button>Shop now on Amazon</button>
          </div>
        </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 2019</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/assets/bundle.js"></script>
    <script>
      function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
    </script>
</body>

</html>